<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="mapid"></div>
<div class="form-container">
  <form action="http://127.0.0.1:3000/route" method="get" class="ui form" id="routeForm">
    <div class="field">
      <!--<label>Location</label>-->
      <input type="text" name="origin" placeholder="origin" id="origin">
    </div>
    <div class="field">
      <!--<label>Destination</label>-->
      <input type="text" name="destination" placeholder="destination" id="destination">
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
      </div>
    </div>
    <button class="ui animated button" type="submit" tabindex="0">
      <div class="visible content">navigate</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </button>
  </form>
</div>
