<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="mapid"></div>
<div class="form-container">
  <form action='' method='get' class='ui form'>
    <div class="field">
      <!--<label>Location</label>-->
      <input type="text" name="first-name" placeholder="origin">
    </div>
    <div class="field">
      <!--<label>Destination</label>-->
      <input type="text" name="last-name" placeholder="destination">
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
      </div>
    </div>
    <button class="ui animated button" type="submit" tabindex="0">
      <div class="visible content">navigate</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </button>
  </form>
</div>
