<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="mapid"></div>
<div className="App">
  <form action='' method='get' class='form'>
      <div class='form-row'>
          <label for='full-name'>Location</label>
          <input id='full-name' name='full-name' type='text'/>
      </div>
      <div class='form-row'>
          <label for='full-name'>Destination</label>
          <input id='full-name' name='full-name' type='text'/>
      </div>
  </form>
</div>
