<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="mapid"></div>
<div class="form-container" style=" overflow-y: scroll;">
  <h1 class="heading">Directions</h1>
  <form action="http://127.0.0.1:3000/route" method="get" class="ui form" id="routeForm">
    <div class="field">
      <!--<label>Location</label>-->
      <input type="text" name="origin" placeholder="origin" id="origin">
    </div>
    <div class="field">
      <!--<label>Destination</label>-->
      <input type="text" name="destination" placeholder="destination" id="destination">
    </div>
    <button class="ui animated button" type="submit" tabindex="0">
      <div class="visible content">navigate</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </button>
  </form>

  <div class="icon-wrapper">
    <i class="question icon" id="about"></i>
    <i class="exclamation icon" id="report"></i>
    <i class="street view icon" id="pedestrian"></i>
    <div id="indicator"></div>
  </div>

  <div id="directions" class="ui list" style="padding: 0 5vw;">
    <!--    <div class="item">
          <i class="location arrow icon"></i>
          <div class="content">
            <a class="header">Rachel</a>
            <div class="description">Last seen watching <a><b>Arrested Development</b></a> just now.</div>
          </div>
        </div>-->
  </div>
  <div class="about-container">
    <i class="x icon" id="close-about"></i>
    <h1 class="heading">About</h1>
    <p class="aboutcontent">

      <b class="bluebold">roadblock</b> is a mapping service that prioritizes
      the user's. It provides the fastest route between two locations while
      simulatenously avoiding areas with a history of crime. We keep track of
      <a class="bluebold" href="https://data.lacity.org/A-Safe-City/Crime-Data-from-2010-to-Present/y8tr-7khq">
        prerecorded data
      </a>
      given by the city of Los Angeles and additionally allow users to report crimes,
      updating our data while simulatenously notifying law enforcement and other users.

      <br />
      <br />

      We strive to allow every individual to feel safe when traveling.
    </p>
    <div class="center contact">
      <div class="profile">
        <img class="ui small circular image" src="antony.jpg">
        <div class="bio">
          Antony Nguyen
          <br>
          <a href="https://www.linkedin.com/in/emilyhuongnguyen/">LinkedIn</a> | <a href="https://github.com/eminguyen">GitHub</a>
        </div>
      </div>
      <div class="profile">
        <div class="bio">
          Casey Price
          <br>
          <a href="https://www.linkedin.com/in/casprice/">LinkedIn</a> | <a href="https://github.com/casprice">GitHub</a>
        </div>
        <img class="ui small circular right image" src="casey.jpeg">
      </div>
      <div class="profile">
        <img class="ui small circular image" src="daniel.jpeg">
        <div class="bio">
          Daniel Truong
          <br>
          <a href="https://www.linkedin.com/in/daniel-d-truong/">LinkedIn</a> | <a href="https://github.com/numberonetruong">GitHub</a>
        </div>
      </div>
    </div>
  </div>

  <div class="report-container">
    <i class="x icon" id="close-report"></i>
    <h1 class="heading">Report a crime</h1>
    <form action="http://127.0.0.1:3000/" method="get" class="ui form" id="reportForm">
      <div class="field">
        <input type="text" name="address" placeholder="address" id="address">
      </div>
      <div class="field">
        <input type="text" name="description" placeholder="description" id="description">
      </div>
      <div class="inline field">
        <div class="ui toggle checkbox">
          <input type="checkbox" tabindex="0" class="hidden" id="police">
          <label>Notify enforcement</label>
        </div>
      </div>
      <div class="ui success message">
        <div class="header">Crime Submitted</div>
        <p>Thank you for submitting a crime!</p>
      </div>
      <button class="ui animated button" type="submit" tabindex="0">
        <div class="visible content">report</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </button>
    </form>
  </div>

  <div class='logo-wrapper'>
    <img src="roadblock-logo.png" class="logo"/>
    <span> roadblock </span>
  </div>
</div>
