<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="mapid"></div>
<div class="form-container" style=" overflow-y: scroll;">
  <h1 class="heading">Directions</h1>
  <form action="http://127.0.0.1:3000/route" method="get" class="ui form" id="routeForm">
    <div class="field">
      <!--<label>Location</label>-->
      <input type="text" name="origin" placeholder="origin" id="origin">
    </div>
    <div class="field">
      <!--<label>Destination</label>-->
      <input type="text" name="destination" placeholder="destination" id="destination">
    </div>
    <button class="ui animated button" type="submit" tabindex="0">
      <div class="visible content">navigate</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </button>
  </form>

  <div class="icon-wrapper">
    <i class="question icon" id="about"></i>
    <i class="exclamation icon" id="report"></i>
    <i class="street view icon" id="pedestrian"></i>
    <div id="indicator"></div>
  </div>

  <div id="directions" class="ui list" style="padding: 0 5vw;">
    <!--    <div class="item">
          <i class="location arrow icon"></i>
          <div class="content">
            <a class="header">Rachel</a>
            <div class="description">Last seen watching <a><b>Arrested Development</b></a> just now.</div>
          </div>
        </div>-->
  </div>
  <div class="about-container">
    <i class="x icon" id="close-about"></i>
    <h1 class="heading">About</h1>
    <p>
      The purpose of <b>roadBlock</b> is to allow every individual to feel safe when traveling. Through this application, we believe that
      every individual can feel at ease when traveling, especially in dangerous areas of cities like LA.

      <br />
      <br />

      <b>roadBlock</b> allows you to visually see the safest route between two addresses.
      You can also report crimes and inform the police, allowing others to receive live updates for when your crime is reported.
    </p>

  </div>

  <div class="report-container">
    <i class="x icon" id="close-report"></i>
    <h1 class="heading">Report a crime</h1>
    <form action="http://127.0.0.1:3000/" method="get" class="ui form" id="reportForm">
      <div class="field">
        <input type="text" name="address" placeholder="address" id="address">
      </div>
      <div class="field">
        <input type="text" name="description" placeholder="description" id="description">
      </div>
      <div class="inline field">
        <div class="ui toggle checkbox">
          <input type="checkbox" tabindex="0" class="hidden" id="police">
          <label>Notify enforcement</label>
        </div>
      </div>
      <div class="ui success message">
        <div class="header">Crime Submitted</div>
        <p>Thank you for submitting a crime!</p>
      </div>
      <button class="ui animated button" type="submit" tabindex="0">
        <div class="visible content">report</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </button>
    </form>
  </div>
</div>
