body {
  display: inline-flex;
  /*background-color: #282c34;*/
  overflow: hidden;
}

.item>.icon {
  color: #3cbcbb;
  font-size: 1.4rem !important;
}

.item {
  font-size: 1.1rem;
}

#mapid {
  height: 100vh;
  width: 70vw;
}

.icon-wrapper {
  position: absolute;
  width: 30vw;
  height: 30vh;
  bottom: 0;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,1), rgba(255,255,255,1));
}

.about-container {
  position: absolute;
  background-color: white;
  top: 0;
  width: 30vw;
  z-index: 10001;
  height: 100vh;
  display: none;
}

.report-container {
  position: absolute;
  background-color: white;
  top: 0;
  width: 30vw;
  z-index: 10001;
  height: 100vh;
  display: none;
}

#report {
  position: absolute;
  bottom: 5vh;
  font-size: 2.8rem;
  color: #3cbcbb;
  right: 6vw;
  z-index: 10100;
  transition: all .2s ease-in-out;
}

#about {
  position: absolute;
  bottom: 5vh;
  font-size: 2.8rem;
  color: #3cbcbb;
  right: 2vw;
  z-index: 10100;
  transition: all .2s ease-in-out;
}

#pedestrian {
  position: absolute;
  bottom: 5vh;
  font-size: 2.8rem;
  color: #3cbcbb;
  right: 10vw;
  z-index: 10100;
  transition: all .2s ease-in-out;
}

#indicator {
  position: absolute;
  font-size: 2rem;
  color: #3cbcbb;
  right: 16vw;
  bottom: 7vh;
  z-index: 101000;
  transition: all .2s ease-in-out;
}

#report:hover, #about:hover, #pedestrian:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.form-container {
  width: 30vw;
  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.3);
  z-index: 10000;
}

.form {
  padding-top: 1.4vw !important;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form>.field{
  margin: 20px 0 0 0 !important;
}

.form>button {
  margin: 3vh 2vw !important;
  background-color: #3cbcbb !important;
  border: 0px 0px 8px 3px rgba(0,0,0,0.3) !important;
}

.heading {
  padding-top: 5vh;
  width: 100%;
  text-align: center;
}

.item {
  padding: 8px 0 !important;
}

.item:last-of-type {
  padding-bottom: 12vw !important;
}
